@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&family=Roboto:wght@100;900&family=Rubik+Mono+One&family=Rubik:wght@300&family=Titillium+Web:wght@200&display=swap');

h1 {
 font-family: Rubik; 
 justify-content: center;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
  }

